:root {
    --grid-cell-bull: #6aaa64;
    --grid-cell-bull-letter: white;
    --grid-cell-cow: #c9b458;
    --grid-cell-cow-letter: white;
    --grid-cell-miss: #939598;
    --grid-cell-miss-letter: white;
    --grid-cell-empty: black;
    --grid-cell-empty-letter: black;
}

word-game-grid {
    display: flex;
    row-gap: 2px;
    flex-direction: column;
}

/* Grid */
word-game-grid .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    color: var(--grid-cell-empty-letter);
    background-color: transparent;
    border: 2px solid var(--grid-cell-empty);
    box-sizing: border-box;
}

/* Grid row */
word-game-grid > div {
    display: flex;
    justify-content: center;
    gap: 2px;
    margin: 2px;
}

word-game-grid .cell[s=b] {
    border-color: var(--grid-cell-bull);
    background-color: var(--grid-cell-bull);
    color: var(--grid-cell-bull-letter);
}

word-game-grid .cell[s=c] {
    border-color: var(--grid-cell-cow);
    background-color: var(--grid-cell-cow);
    color: var(--grid-cell-cow-letter);
}

word-game-grid .cell[s=n]{
    border-color: var(--grid-cell-miss);
    background-color: var(--grid-cell-miss);
    color: var(--grid-cell-miss-letter);
}
